.player {
	flex: 1;
	padding: 0 20px 10px 20px;
}

.name {
	text-align: center;
	position: relative;
}

.playing:before {
	position: absolute;
	display: block;
	content: 'Playing';
	top: 0;
	left: 0;
	font-size: 11px;
	padding: 3px 5px 3px 15px;
	color: white;
	background-color: black;
}

.playing:after {
	position: absolute;
	display: block;
	content: ' ';
	top: 0;
	left: -13px;
  width: 18px;
  height: 18px;
  background-color: white;
  transform: rotate(45deg);
}

.stats {
	display: flex;
	flex-direction: row;
}
