.title {
	display: flex;
	justify-content: center;
	align-items: center;
	border-color: gray;
	border-width: 1px;
	border-style: solid;
	width: 98px;
	height: 98px;
}

.highlight {
	background-color: rgba(144, 238, 144, .5);
}
